<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleCrossHair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SimpleCrossHair.Properties.Settings>
            <setting name="PosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CrossOpacity" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CrossColor" serializeAs="String">
                <value>-65536</value>
            </setting>
            <setting name="CrossVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrossThickness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CrossGap" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CrossLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CircleDiameter" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CircleVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CircleOpacity" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CircleColor" serializeAs="String">
                <value>-65536</value>
            </setting>
            <setting name="CircleThickness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CircleGrooveCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CircleGrooveAngle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CircleRotation" serializeAs="String">
                <value>0</value>
            </setting>
        </SimpleCrossHair.Properties.Settings>
    </userSettings>
</configuration>